main > .container {
    padding: 60px 15px 0;
}

.navbar{
  background-color:#333333ff;
}
  
.footer {
  background-color: #CFCFCF;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

body {
    background-color: #CFCFCF;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
    width: auto;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333ff;
}

.color-header {
  background-color: #333333ff;
  color: #CFCFCF;
}

.box-telefone {
  display: flex;
  margin-top: 10px;
}

.box-endereco{
  display: flex;
  margin-top: 10px;
}

.input-ddd {
  width: 10%;
  margin-right: 5px;
  min-width: 80px;
}

.btn-telefones {
  margin-left: 5px;
  height: 38px;
}

.input-numero {
  width: 60%;
  margin-left: 5px;
  margin-right: 5px;
}

.input-operadora {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 110px;
}

.input-estado {
  width: 10%;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 80px;
}

.input-rua {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 110px;
}

.input-municipio {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 110px;
}

.input-bairro {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 110px;
}

.input-cep {
  width: 15%;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 110px;
}

.color-body {
  background-color: #CFCFCF;
}

.table {
    margin-top: 20px;
}

.hr-color {
  background-color:#CFCFCF;
}

.btn {
  border-color: #CFCFCF;
  background-color:#333333ff;
  color: #CFCFCF;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
  border-color: #333333ff;
  background-color:#CFCFCF;
  color: #333333ff;
}

.btn:disabled {
  border-color: #333333ff;
  background-color:gray;
  color: #333333ff;
}

.link-color {
  color: #CFCFCF;
}

.link-color:hover, .link-color:focus, .link-color:active, .link-color.active, .open>.dropdown-toggle.link-color {
  color: #CFCFCF;
}

.tb-header {
  color: #CFCFCF;
}

.tb-columns {
  color: #CFCFCF;
}

.footer-box {
  margin-left: 5em;
}

.column-telefone {
  width: 25%;
}

.column-endereco {
  width: 35%;
}

.img-lista{
  margin-top: 0;
  width: 18; 
  height: 18;
  color: #CFCFCF;
  border-color: #CFCFCF;
}

.selected {
  background-color: #838383;
}

.field-login {
  margin-bottom: 0px !important;
}

.form-control {
    margin-bottom: 5px;
}

.form-control:focus, .form-control:hover {
  border-color: #CFCFCF;
  outline-color: #CFCFCF;
}

.btn-outline {
  border-color: #CFCFCF;
  background-color:#333333ff;
  color: #CFCFCF;
}
