<div class="container">
    <div class="jumbotron shadow p-3 mb-5 rounded">
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Pesquisar clientes"/>
        <table class="table">
            <div class="container-fluid">
            <tr>
                <th class="tb-header"></th>
                <th class="tb-header"><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th class="tb-header"><a href="" ng-click="ordenarPor('telefone')">CPF/CNPJ</a></th>
                <th class="column-telefone tb-header">Telefone</th>
                <th class="column-endereco tb-header">Endereço</th>
            </tr>
            <tr ng-class="{selected: cliente.selecionado}" ng-repeat="cliente in clientes | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td class="form-check tb-columns">
                    <input type="checkbox" ng-model="cliente.selecionado">
                </td>
                <td class="tb-columns">{{cliente.nome | name}}</td>
                <td class="tb-columns">{{cliente.inscricao | inscricao}}</td>
                <td class="tb-columns">
                    <select class="form-control" ng-focus="carregarTelefones(cliente)" ng-model="cliente.telefone" ng-options="telefone.numero_telefone for telefone in cliente.telefones">
                        <option value="">Telefones</option>
                    </select>
                </td>
                <td class="tb-columns">
                    <select class="form-control" ng-focus="carregarEnderecos(cliente)" ng-model="cliente.endereco" ng-options="endereco.rua for endereco in cliente.enderecos">
                        <option value="">Endereços</option>
                    </select>
                </td>
            </tr>
            </div>
        </table>
        <hr class="hr-color"/>
        <a class="btn btn-block" href="#!/cadastroClientes">Cadastrar Cliente</a>
        <button class="btn btn-block" ng-click="apagarClientes(clientes)" ng-disabled="isClienteSelecionado(clientes)">Remover Cliente</button>
    </div>
</div>